<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Not Found</title>
    <link rel="stylesheet" href="../public/styles/404.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
      <h1>Error <span class="errorcode">404</span></h1>
      <p class="output">This page not exist</p>
      <p class="output"><a href="/">return to the homepage</a>.</p>
      <p class="output">Good luck.</p>
    </div>
  </body>
</html>
