/* Your style here */

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.navbar {
  top: 0;
  margin-bottom: 50px;
  position: fixed;
  width: 100%;
  background-color: black;
  color: white;
}

.nav-items {
  list-style: none;
}

.nav-item {
  display: inline;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin: 5px;
}

table {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

table, th, td {
  border: solid 1px black;
  border-collapse: collapse;
  padding: 5px;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
}

.footer-link {
  text-decoration: none;
  color: white;
  margin: 5px;
}
