/* Your style here */

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.navbar {
  top: 0;
  margin-bottom: 50px;
  position: fixed;
  width: 100%;
  background-color: black;
  color: white;
}

.nav-items {
  list-style: none;
}

.nav-item {
  display: inline;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin: 5px;
}

.centered {
  margin-top: 75px;
}

.table-title {
  text-align: center;
}

.reload-button {
  margin-left: 5%;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 2px;
  background-color: white;
  color: blue;
}

.reload-button:hover {
  background-color: blue;
  color: white;
  transition: 1s;
}

table {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 90%;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.delete-button {
  border: 1px solid red;
  border-radius: 2px;
  background-color: white;
  color: red;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.delete-button:hover {
  background-color: red;
  color: white;
  transition: 1s;
}

.footer {
  position: fixed;
  width: 100%;
  height: 5%;
  bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
}

.footer-block {
  margin-top: 15px;
}

.footer-link {
  text-decoration: none;
  color: white;
}